ELASTIC_USERNAME=elastic
ELASTIC_PASSWORD=elastic
ELASTIC_PORT=9200
MYSQL_ROOT_PASSWORD=rootpassword
DB_DATABASE=mydatabase
DB_USERNAME=user
DB_PASSWORD=password

MONGO_INITDB_ROOT_USERNAME=root
MONGO_INITDB_ROOT_PASSWORD=example
MONGO_INITDB_DATABASE=mylocaldb
MONGO_USER=mylocaluser
MONGO_PASSWORD=mylocalpass

MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin

RABBITMQ_ERLANG_COOKIE=secret_cookie
RABBITMQ_DEFAULT_USER=rabbitmq
RABBITMQ_DEFAULT_PASS=123456