ELASTIC_USERNAME=elastic
ELASTIC_PASSWORD=elastic
ELASTIC_PORT=9200
MYSQL_ROOT_PASSWORD=root
DB_DATABASE=test
DB_USERNAME=test
DB_PASSWORD=test

MONGO_INITDB_ROOT_USERNAME=root
MONGO_INITDB_ROOT_PASSWORD=example
MONGO_INITDB_DATABASE=todoapp
MONGO_USER=myuser
MONGO_PASSWORD=mypassword


RABBITMQ_ERLANG_COOKIE=secret_cookie
RABBITMQ_DEFAULT_USER=rabbitmq
RABBITMQ_DEFAULT_PASS=123456